@{
    ViewBag.Title = "About";
}
    <style>
        #navbarUiLiA ul li:nth-child(3) {
            background: #2E3B5F;
        }
        #navbarUiLiA ul li:nth-child(3) a{
        background: white;
    }
    </style>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
