
@{
    ViewBag.Title = "Report";
}

<h2>Product Report</h2>
<iframe src="@Url.Content("~/Report/ViewReport")" 
        style="width: 100%; height: 1000px; border: none;"></iframe>
<hr/>


