@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>My Contact Page</h3>
<hr/>

    <h4>MD: PIAS UDDIN</h4>
<h5>ID: 1248677</h5>
Gmail: <a href="mailto:piasuddin50@gmail.com">piasuddin50@gmail.com</a>